/* nav {
  padding-left: 2em;
}
nav .nav-item a:hover {
  color: #FF0000;
}

nav a {
  text-decoration: none;
  color: black;
} */

#mynav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1em 2em;
}

#mynav nav {
  float: right;
  padding: 0;
  margin: 0;
}

#mynav nav a {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color:#303030;
  text-decoration: none;
  margin: 0 12px;

  padding: 5px 5px;
}

#mynav nav a.selected {
  color: #29c29c;
}

#mynav nav a:hover {
  color: rgb(48,48,48, .7); 
}

#mynav > div {
  align-self: center; 
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: auto;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}